<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a mi formulario</title>
    <link rel="stylesheet" href="resources/css/isu.css" />
  </head>

  <body>

    
    <!-- Registro -->
    <div class="container-form sign-up fondo">
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenidos a Nous</h2>
          <p>Si ya tienes una cuenta por favor inicia sesion aqui</p>
          <button class="sign-up-btn iniciar">Iniciar Sesion</button>
        </div>
      </div>
      <!-- Formulario de registro hay que modifcar -->
      <form class="formulario">
        <h2 class="create-account">Crear una cuenta</h2>
        <!-- Formulario -->
        <p class="cuenta-gratis">Crear una cuenta</p>
        <input type="text" placeholder="Nombre de usuario" />
        <input type="number" placeholder="Tu edad" required />
        <input type="email" placeholder="Correo electronico" required />
        <input type="password" placeholder="Contrase単a" />
        <input type="button" value="Registrarse" />
      </form>
      <!-- Aqui termina el formulario -->
    </div>

    <!-- Iniciar sesion -->
    <div class="container-form sign-in">
      <!-- Formulario de registro hay que modifcar -->
      <form class="formulario">
        <h2 class="create-account">Iniciar sesion</h2>

        <!-- Formulario -->
        <p class="cuenta-gratis">多Aun no tienes cuenta?</p>
        <input
          type="email"
          placeholder="Correo electronico"
          class="email"
          required
        />
        <input type="password" placeholder="Contrase単a" class="contrase単a" />
          <input type="button" value="Entrar" onclick=""/>
        </a>
      </form>
      <!-- Nuevo texto -->
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenidos de nuevo</h2>
          <p>Si aun no tienes una cuenta por favor registrate</p>
          <button class="sign-in-btn">Registrarse</button>
        </div>
      </div>
      <!-- Aqui termina el formulario -->
    </div>


    <script src="resources/js/main.js"></script>
  </body>
</html>
