<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
    <link rel="stylesheet" href="resources/css/perfil.css">
</head>

<body>
   

    <div class="perfil-targeta">
        <div class="image">
            <img src="resources/img/vincent.jpg" alt="" class="perfil-img">
        </div>


        <div class="text-data">
            <span class="name">Vincent Van Gogh</span>
            <span class="Rol">Pintor</span>
        </div>
        <div class="media-button">
            <a href="#" class="link">
                <i class="icon-aju">
                    <img src="resources/img/bxs-x-circle.svg" alt="">
                </i>
            </a>
            <a href="#" class="link">
                <i class="icon-car">
                    <img src="resources/img/bxs-cart-add.svg" alt="">
                </i>
            </a>
            <a href="#" class="link">
                <i class="icon-car">
                    <img src="resources/img/bxs-cart-add.svg" alt="">
                </i>
            </a>
            <a href="#" class="link">
                <i class="icon-car">
                    <img src="resources/img/bxs-cart-add.svg" alt="">
                </i>
            </a>
        </div>
        <!-- PRUEBA -->
        <div class="perfil-usuario">
            <ul class="lista-datos">
                <li></li>
            </ul>
        </div>
        <div class="buttons">
            <button class="button">Configuracion</button>
            <button class="button">Cerrar sesion</button>
        </div>
    </div>
</body>
</html>