.perfiltitulo {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 50vh;
}

.tituloperfil {
    /* Darle formato al titulo principal */
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Gloock', serif;

    /* Centrar el titulo principal*/
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo {
    width: 340px;
    height: 120px;
    margin: 14px 18px;
    background-color: yellowgreen;
}
.imgperfil {
    margin-right: 2%;
    float: left;
    min-width: 1px;
    width: 23.448%;
    overflow: visible;
    background-color: antiquewhite;
}
.img {
    vertical-align: top;
    max-width: 100%;
    border: 0;
}
.titulotargeta {
    float: left;
    margin-right: 2%;
    background-color: aquamarine;
}
div {
    display: block;
}